name: 'Close Stale Issues'
on:
  schedule:
    - cron: '00 12 * * 1'
    - cron: '00 12 * * 4'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v4.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
          days-before-issue-stale: 7
          days-before-issue-close: 7
          days-before-pr-stale: 14
          days-before-pr-close: -1
          close-issue-label: 'stale'
          exempt-issue-labels: 'bug,in progress'
