name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '00 5 * * 1,4'

permissions: 
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5.0.0
        with:
          days-before-stale: 7
          days-before-pr-stale: 10
          days-before-close: 7
          exempt-issue-labels: 'bug,in progress'
          exempt-pr-labels: 'bug,in progress'
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'        
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity in seven days. It will be closed in seven days if no further activity occurs. Thank you for your contributions.'
          stale-pr-message: 'This PR has been automatically marked as stale because it has not had recent activity in ten days. It will be closed in seven days if no further activity occurs. Thank you for your contributions.'
          delete-branch: true
